{{template "header" .}}
<div class="px-8 py-6 flex-grow">
<p>
    For inquiries, please email us at <a href="mailto:raminderis@live.com" class="text-blue-400">raminderis@live.com</a>.
</p>
</div>
{{template "footer" .}}