{{define "header"}}
<html>
    <body>
{{end}}

{{define "footer"}}
    <p>Copyright The Bakhshi LLC @2025</p>
    </body>
</html>
{{end}}


{{ define "rwadef" }}
<p>RWA stock assets refer to real-world assets that are tokenized and represented as digital assets, often within the blockchain or DeFi space. These assets, like stocks, are converted into digital tokens, allowing for more accessible and global trading. 
</p>
{{end}}